# Ignore all test and documentation with “export-ignore”.
.gitattributes export-ignore
.gitignore export-ignore
CONTRIBUTING.md export-ignore
/tests export-ignore

# Prevent Windows-WSL2 line ending issues
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
