---
---

@import "{{ site.theme }}";

body {
  background: #0a1674;
}

#header {
  background: #ffffff;
  height: 100px;
}

#header nav {
  background: initial;
}

#header nav ul li a {
  color: #5d910b;
  padding: 4px 4px;
  background: #ffffff;
  background-color: #ffffff;
  box-shadow: none;
  border: none;
}

@media print, screen and (max-width: 480px) {
  #header {
    height: initial;
  }
  #header nav ul li a {
    padding: 4px 4px;
  }
  nav {
    display: initial;
  }
}

html, body {
  min-width: 360px;
  width: 100%;
}

.site-masthead {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
