---
---

@import "{{ site.theme }}";

#header, body {
  background: #0a1674 !important;
}

.site-masthead {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
}
